@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	color: white;
}

div {
	color: white;
}

.text-center {
	font-size: 25px;
}

main {
	background: rgb(5, 37, 65);
	background: linear-gradient(0deg, rgba(5, 37, 65, 1) 0%,
		rgba(0, 0, 0, 1) 72%);
}

.mainView {
	background: rgb(5, 37, 65);
	background: linear-gradient(0deg, rgba(5, 37, 65, 1) 0%,
		rgba(0, 0, 0, 1) 72%);
	height: 100%;
}

.header {
	position: fixed;
	z-index: 999;
	width: 100%;
}

.curLog {
	color: white;
}

.head-bottom {
	margin-bottom: 180px;
}

.top {
	background-color: black;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

td {
	color: white;
}

.curLog {
	margin-left: auto;
	margin-right: 30px;
}

.top img {
	max-height: 50px;
}

.dropdown {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.dropdown-menu {
	min-width: 100%;
	right: 0;
	left: auto;
	top: 100%;
	margin-top: 0.5rem;
}

.dropdown-item {
	color: white;
	font-weight: 400;
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	font-weight: 400;
	font-size: 14px;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.contentsbar {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
}

.contentsbar div {
	padding: 10px;
	text-align: center;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.contentsbar div:hover {
	background-color: gray;
}

.contentsbar>div.active {
	background-color: #007BFF;
	color: #FFFFFF;
}

@media screen and (max-width: 768px) {
	.contentsbar {
		flex-wrap: wrap;
	}
	.contentsbar>div {
		width: 100%;
		border-top: 1px solid #DEE2E6;
		border-right: none;
		border-bottom: none;
		border-left: none;
		padding: 15px 10px;
		font-size: 14px;
	}
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	max-width: 500px;
	border-radius: 10px;
}

td {
	padding: 10px;
	text-align: center;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"]
	{
	padding: 5px;
	border: 1px solid #ccc;
	background-color: rgb(5, 37, 65);
	color: white;
	border-radius: 5px;
	width: 100%;
}

input[type="button"] {
	background-color: #007BFF;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

input[type="button"]#checkBtn {
	float: right;
}

input[type="radio"] {
	margin-right: 10px;
}

table td:not(:last-child) {
	white-space: nowrap;
}

.select {
	background-color: lightgray;
}

.email-wrapper {
	display: flex;
}

.email-wrapper input[type="text"], .email-wrapper select {
	flex: 1;
}

.search-wrapper {
	width: 90%;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.search {
	position: relative;
	width: 400px;
}

#search {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
}

#searchImg {
	position: absolute;
	width: 17px;
	top: 11px;
	right: 12px;
	margin: 0;
	cursor: pointer;
}

textarea {
	resize: none;
}

#subBar {
	width: 100%;
	height: 42px;
	font-size: 15px;
}

.cinema-link {
	color: red;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 1000;
	text-decoration: none;
	margin-left: 43.5%;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 10px;
}

.cinema-link:hover {
	color: #FFA07A;
	cursor: pointer;
}

.notice-scroll {
	overflow-y: scroll;
}

.notice-scroll::-webkit-scrollbar {
	display: none;
}

.notice-scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #9B9B9B;
}

.modal {
	z-index: 9999;
	width: 500px;
	height: 300px;
}

div#modal.modal {
	margin-top: 250px;
	margin-left: 30%;
	padding: 10px;
	position: center;
	width: 800px;
	height: 500px;
}

.modal-content {
	background: rgb(140, 119, 119);
	background: linear-gradient(0deg, rgba(140, 119, 119, 1) 15%,
		rgba(49, 109, 159, 1) 100%);
}

.card:hover {
	transform: scale(1.1);
	transition: transform 0.5s;
}

.card-body {
	background-color: black;
	color: white;
}

.card-body:hover {
	background-color: gray;
}

.head-bottom {
	color: #f7f4e3;
}

::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}

::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #00bcd4;
	border-radius: 5px;
	border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #008ba3;
	border: 3px solid #d3d3d3;
}

th {
	color: white;
}

#close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 36px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	margin: 8px auto;
}