@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.top {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.curLog {
  margin-left: auto;
  margin-right:30px;
}
.top img {
  max-height: 50px;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-menu {
  min-width: 100%;
  right: 0;
  left: auto;
  top: 100%;
  margin-top: 0.5rem;
}

.dropdown-item {
  color: #212529;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  font-size: 14px;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.contentsbar {
  background-color: #F8F9FA;
  border-bottom: 1px solid #DEE2E6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.contentsbar div {
  padding: 10px;
  text-align: center;
  color: #343A40;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contentsbar div:hover {
	  background-color: #E9ECEF;
 	  color: #007bff;
}
.contentsbar > div.active {
  background-color: #007BFF;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .contentsbar {
    flex-wrap: wrap;
  }
  .contentsbar > div {
    width: 100%;
    border-top: 1px solid #DEE2E6;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 15px 10px;
    font-size: 14px;
  }
}