<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.board">

	<resultMap id="board" type="Board.BoardVO">
		<id property="boardNo" column="boardNo" />
		<result property="writerId" column="writerId" />
		<result property="movieCd" column="movieCd" />
		<result property="grade" column="grade" />
		<result property="contents" column="contents" />
	</resultMap>
	<select id="getAllBoard" resultMap="board">
		select * from board
	</select>
	<select id="getMovieCdBoard" parameterType="Integer"
		resultMap="board">
		select * from board where movieCd = #{movieCd}
	</select>
	<select id="getOneBoard" parameterType="Integer"
		resultType="board">
		select * from board where boardNo = #{boardNo}
	</select>

	<select id="getMemberBoard" parameterType="String"
		resultType="board">
		select * from board where writerId = #{writerId}
	</select>

	<select id="getMovieBoard" parameterType="Integer"
		resultType="board">
		select * from board where movieCd = #{movieCd}
	</select>
	<select id="getAvgGrade" parameterType="Integer"
		resultType="double">
		select AVG(grade) from board where movieCd=#{movidCd}
	</select>

	<update id="updateBoard" parameterType="board">
		update board
		set
		grade=#{grade}, contents=#{contents} where boardNo=#{boardNo}
	</update>
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board
		(writerId, movieCd, grade, contents)
		VALUES(
		#{writerId},
		#{movieCd},
		#{grade},
		#{contents}
		)
	</insert>
	<delete id="deleteBoard" parameterType="Integer">
		delete from board where
		boardNo=#{boardNo}
	</delete>
	<insert id="setDummyData">
		INSERT INTO board (writerId, movieCd, grade, contents) VALUES
		('123', 493529, 4, '재미있었습니다.'),
		('kim123', 594767, 3, '기대했던 것보단 별로였네요.'),
		('lee_yh', 603692, 5, '진짜 대박영화입니다.'),
		('parkminjun', 631842, 4, '보는 내내 긴장감이 유지되는 영화였습니다.'),
		('honggd', 937278, 2, '이게 뭐냐 싶은 영화였습니다.'),
		('minji_kim', 493529, 4, '킬링타임 강추.'),
		('jwonlee', 594767, 3, '무난무난 합니다.'),
		('seungwoo', 603692, 5, '인생작 입니다.'),
		('ji_hyun', 631842, 4, '한번 더 보고싶어요.'),
		('jh_park', 937278, 2, '볼 가치가 없습니다.');
	</insert>

</mapper>