<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Board">

	<resultMap id="board" type="Board.BoardVO">
		<id property="boardNo" column="boardNo" />
		<result property="writerId" column="writerId" />
		<result property="movieCd" column="movieCd" />
		<result property="grade" column="grade" />
		<result property="contents" column="contents" />
	</resultMap>

	

</mapper>